body {
  margin: 0;
  padding: 0;
  background-color: #36393f;
  color: #dcddde;
  font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
